@page "/posts/search/"
@inject IPostRepository PostRepository
@inject IPostRatingRepository PostRatingRepository
@inject IUserRepository UserRepository
@inject NavigationManager NavManager
@using Data.OrderingQuery;
@using Data.Ordering;
@using System.Web;
@using Microsoft.AspNetCore.WebUtilities;

<MudContainer MaxWidth="MaxWidth.Medium" Class="my-10">
    <MudPaper Class="py-4 px-6">
        <MudText Class="flex-grow-1 mb-2" Typo="Typo.h4">Tìm kiếm bài viết chia sẻ</MudText>
        <div class="d-flex align-center mb-6">
            <MudTextField Class="mr-2" Immediate="true" @bind-Value="@_inputSearchText" OnKeyPress="HandleKeyPressed"
                          Label="Tìm kiếm" Variant="@Variant.Outlined" Margin="Margin.Dense"
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
            <MudButton Class="px-12" Variant="@Variant.Outlined" Color="Color.Primary"
                       Disabled="_searchButtonDisabled" OnClick="HandleSearchButtonPressed">
                Tìm
            </MudButton>
        </div>
        <MudText Class="flex-grow-1 mb-2" Typo="Typo.h6">Kết quả tìm kiếm của "@_searchText"</MudText>
        <div class="d-flex justify-end align-end w-75 mb-6">
            <MudSelect Class="mr-2" T="PostOrderingOption" Label="Tìm kiếm dựa trên" ToStringFunc="(option) => option.ToUserFriendlyText()"
                       Value="_orderingOption" ValueChanged="HandleOrderingOptionChanged">
                <MudSelectItem Value="PostOrderingOption.Relevance" />
                <MudSelectItem Value="PostOrderingOption.OverallRating" />
                <MudSelectItem Value="PostOrderingOption.DateCreated" />
                <MudSelectItem Value="PostOrderingOption.Comments" />
                <MudSelectItem Value="PostOrderingOption.Ratings" />
            </MudSelect>
            <SelectPostOrderByOption Class="mr-2" OrderingOption="_orderingOption"
                                     OrderByOption="_orderByOption" OrderByOptionChanged="HandleOrderByOptionChanged" />
        </div>

        @if (_loadPostsState == State.Loading)
        {
            <MudProgressCircular Class="d-block mx-auto" Size="Size.Large" Color="Color.Primary" Indeterminate="true" />
        }
        else if (_postInfoPage.Items.Count == 0)
        {
            <MudText Class="pt-10 pb-4" Align="Align.Center">Không có kết quả, hãy thử dùng từ khóa khác.</MudText>
        }
        else
        {
            @for (int i = 0; i < _postInfoPage.Items.Count; i++)
            {
                int index = i;
                if (index != 0)
                {
                    <MudDivider Class="my-4" />
                }
                <AuthorizeView>
                    <NotAuthorized>
                        <PostHeader @key="_postInfoPage.Items[index].Id" @bind-PostInfo="_postInfoPage.Items[index]" />
                    </NotAuthorized>

                    <Authorized>
                        <PostHeader @key="_postInfoPage.Items[index].Id" @bind-PostInfo="_postInfoPage.Items[index]"
                                    @bind-PostRating="_userPostRatings[index]" />
                    </Authorized>
                </AuthorizeView>
            }

            @if (_postInfoPage.PageCount > 1)
            {
                <div Class="d-flex justify-center">
                    <MudPagination Selected="_selectedPage" Count="_postInfoPage.PageCount" SelectedChanged="HandlePageChanged" />
                </div>
            }
        }
    </MudPaper>
</MudContainer>

@code {
    [CascadingParameter]
    private Task<User> _userTask { get; set; }

    private static int _postInfoPerPage = 10;

    private State _loadPostsState;

    private Page<PostInfo> _postInfoPage;

    private IList<PostRating> _userPostRatings;

    private int _selectedPage;

    private User _user = null;

    private string _inputSearchText;

    private string _searchText;

    private bool _searchButtonDisabled => string.IsNullOrWhiteSpace(_inputSearchText) || _loadPostsState == State.Loading;

    private PostOrderingOption _orderingOption;

    private OrderByOption _orderByOption;

    protected override async Task OnInitializedAsync()
    {
        _selectedPage = 1;
        _orderingOption = PostOrderingOption.Relevance;
        _orderByOption = OrderByOption.Descending;

        _loadPostsState = State.Loading;

        _user = await _userTask;
    }

    protected override async Task OnParametersSetAsync()
    {
        _loadPostsState = State.Loading;

        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("q", out var searchText))
            _searchText = searchText;

        else
            _searchText = "";

        _inputSearchText = _searchText;

        if (_searchText == "")
        {
            _postInfoPage = new Page<PostInfo>()
            {
                Size = _postInfoPerPage,
                CurrentPage = _selectedPage,
                PageCount = 0,
            };
        }
        else
            await SearchByKeywords(1);

        _loadPostsState = State.Complete;
    }

    private async Task HandleOrderingOptionChanged(PostOrderingOption option)
    {
        _orderingOption = option;
        _loadPostsState = State.Loading;
        await SearchByKeywords(1);
        _loadPostsState = State.Complete;

    }

    private async Task HandleOrderByOptionChanged(OrderByOption option)
    {
        _orderByOption = option;
        _loadPostsState = State.Loading;
        await SearchByKeywords(1);
        _loadPostsState = State.Complete;
    }

    private async Task HandlePageChanged(int selected)
    {
        _selectedPage = selected;
        _loadPostsState = State.Loading;
        await SearchByKeywords(_selectedPage);
        _loadPostsState = State.Complete;
    }

    private async Task HandleSearchButtonPressed()
    {
        if (_searchText == _inputSearchText.Trim())
            return;

        _searchText = _inputSearchText.Trim();

        NavManager.NavigateTo($"posts/search/?q={HttpUtility.UrlEncode(_searchText)}");
    }

    private async Task HandleKeyPressed(KeyboardEventArgs args)
    {
        if (args.Key == "Enter" && !_searchButtonDisabled)
            await HandleSearchButtonPressed();
    }

    private async Task SearchByKeywords(int pageNumber)
    {
        string[] keywords = _searchText.Trim().RemoveDiacritics().Split();

        _selectedPage = pageNumber;

        if (_orderingOption == PostOrderingOption.Relevance)
            _postInfoPage = await PostRepository.GetPagePostInfoByKeywords(_postInfoPerPage, pageNumber, keywords);

        else
            _postInfoPage = await PostRepository.GetPagePostInfoByKeywords(_postInfoPerPage, pageNumber, keywords,
                oq => PostInfoUtils.CreatePostInfoOrderingQuery(_orderingOption, _orderByOption, oq));

        if (_user != null)
            _userPostRatings = await PostRatingRepository.GetRangeAsync(_user.Id, _postInfoPage.Items.Select(p => p.Id));
    }
}

