@using Microsoft.JSInterop;
@using Microsoft.Extensions.Configuration;
@implements IAsyncDisposable
@inject IJSRuntime JS
@inject IConfiguration Configuration;

@if (_state == State.Loading)
{
    <div class="d-flex justify-content-center @Class">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    </div>
}

@if (_confObjName != null)
{
    <div hidden="@(_state != State.Complete)" class="@Class">
        <textarea id="post-editor-@_editorId"></textarea>
        <Editor JsConfSrc="@_confObjName" ApiKey="@Configuration["TinyMceApiKey"]" @bind-Value="@_boundContent" @bind-Text="@_boundTextContent" />
    </div>
}

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public EventCallback<string> ContentChanged { get; set; }

    private string _boundContent
    {
        get => Content;
        set => ContentChanged.InvokeAsync(value);
    }

    [Parameter]
    public string TextContent { get; set; }

    [Parameter]
    public EventCallback<string> TextContentChanged { get; set; }

    private string _boundTextContent
    {
        get => TextContent;
        set => TextContentChanged.InvokeAsync(value);
    }

    private string _editorId = Guid.NewGuid().ToString();

    private string _confObjName;

    private State _state = State.Init;

    private DotNetObjectReference<PostEditor> _objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _state = State.Loading;
            _objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initPostEditor", _objRef, _editorId);
            StateHasChanged();
        }
    }

    [JSInvokable]
    public void OnConfigObjReady(string name)
    {
        _confObjName = name;
        StateHasChanged();
    }

    [JSInvokable]
    public void OnEditorLoaded()
    {
        _state = State.Complete;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        await JS.InvokeVoidAsync("disposePostEditor", _editorId);
        _objRef?.Dispose();
    }
}
